@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{

    box-sizing: border-box;
   font-family: "Roboto", serif !important;
   padding: 0;
   margin: 0;
 
}

p{
    font-size: 15px;
color:#414042
}


h1{
    font-size: 2.7rem !important;
   
    color:#414042
}
h2{
    font-size: 2.2rem !important;
       color:#414042 !important;
}
h3{
    font-size: 1.6rem !important;
    color:#414042 !important
}
h6{
   font-size: 0.9rem !important; 
}



.bg3{
    background-color: #4EB6AF;
}
.bg4{
    background-color: #599D78;
}
.z300{
    z-index: 1002;
}
@media screen and (max-width: 600px){
     p,input{
        font-size: 1rem !important;
    }
    h1{
        font-size: 2rem !important;
    }
}
